* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

  
.grid.wide {
  margin: 0 auto;
  max-width: 1320px
}


.grid {
  display: block;
  padding: 0;
  width: 100%;
}
@media (min-width: 1240px) and (max-width: 1400px){
  .wide {
      width: 1150px;
  }
  }