* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

.product-wraper {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  transition: all 0.5s;
}

.product-wraper:hover {
  transform: translateY(-0.1em);
}

@media (min-width: 1113px) {
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (min-width: 1113px) {
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.item-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  box-sizing: initial;
  margin-top: 1rem;
  padding-top: 100%;
  width: 100%;
}

.item-content {
  background-color: white;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 0.1em;
}

.item-desc-text {
  color: black;
  text-decoration: none;
}

.item-desc-title {
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-desc-title:hover {
  color: orange;
  transition: all 0.5s;
}

.item-desc-price {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: start;
}

.item-buy-cart-wraper {
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-radius: 0.3125rem;
  line-height: 1.45rem;
  margin: 0.3125rem auto 0.625rem;
  padding: 0.125rem;
  cursor: pointer;
}

.item-buy,
.item-cart {
  border-radius: 0.3125rem;
  display: flex;
  justify-content: center;
  padding: 0.375em 0;
  width: 50%;
  align-items: center;
}

.item-buy {
  background-color: black;
  color: white;
}

.item-buy-icon,
.item-cart-icon {
  margin-right: 0.3125rem;
}

.item-cart {
  background-color: white;
  color: black;
  transition: all 1;
}

.item-buy:hover,
.item-cart:hover {
  background-color: orange;
  transition: all 0.5s;
}

.product-list {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

