.product-list-sort {
  align-items: center;
  display: flex;
  justify-content: right;
  margin: 3rem 0;
  padding: 0.875rem 1.5rem;
}

.label-sort-product {
  font-family: inherit;
  font-size: 1.1rem;
  margin-right: 0.625rem;
}

.select-sort-product {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-family: inherit;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}

.option-sort-product {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
}
